# Ignore settings folders
.vscode
.idea

# Cordova Global
plugins/
res/
platforms/
node_modules

www/*
www/nodejs-project/**
!www/nodejs-project
!www/nodejs-project/package.json

release-signing.properties