<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10020" id="net.ezrabibleapp.cordova" version="0.18.0-Dev" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ezra Bible App</name>
    <description>
        Ezra Bible App is a Bible study tool focussing on topical study based on keywords/tags.
    </description>
    <author email="contact@ezrabibleapp.net" href="https://ezrabibleapp.net">EzraBibleApp.net</author>
    <content src="index.html" />
    <icon src="ezra-bible-app/icons/ezra.png" />
    <access origin="*" />
    <access origin="sentry.io" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <platform name="android">
        <hook src="hooks/update_build_gradle.js" type="before_build" />
        <icon src="ezra-bible-app/icons/android/mipmap-mdpi/ezra.png" density="mdpi" />
        <icon src="ezra-bible-app/icons/android/mipmap-hdpi/ezra.png" density="hdpi" />
        <icon src="ezra-bible-app/icons/android/mipmap-xhdpi/ezra.png" density="xhdpi" />
        <icon src="ezra-bible-app/icons/android/mipmap-xxhdpi/ezra.png" density="xxhdpi" />
        <icon src="ezra-bible-app/icons/android/mipmap-xxxhdpi/ezra.png" density="xxxhdpi" />
        <resource-file src="www/nodejs-project/ezra.sqlite" target="files/www/nodejs-project/ezra.sqlite" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/supports-screens">
            <supports-screens android:largeScreens="true" android:normalScreens="false" android:resizeableActivity="false" android:smallScreens="false" android:xlargeScreens="true" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:requestLegacyExternalStorage="true" />
            <application android:usesCleartextTraffic="true" />
            <application android:resizeableActivity="false" />
            <application android:hasFragileUserData="true" />
        </edit-config>
    </platform>
    <engine name="android" spec="^6.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="nodejs-mobile-cordova" spec="^0.4.2" />
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.2" />
    <plugin name="cordova-plugin-is-debug" spec="^1.0.0" />
    <plugin name="cordova-plugin-fullscreen" spec="^1.3.0" />
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.12" />
</widget>
